<div class="container">
    <div class="about-box mt-5">
        <span>ABOUTページ</span>
        <p>
            ShaFtってなんだ？ <br>
            Share + Shiftを合わせたもの <br>
            グループで予定やシフトを計画したい、 <br>
            「やること」「やりたいこと」を投稿し共有したいなら <br>
            気軽にやってみよう！
        </p>
    </div>
</div>