<div>
  <%= flash[:notice] %>
</div>

<div class="container my-5 text-center">
  <div class="row justify-content-center">
    <div class="col-auto">
      <h2 class="top_header">ShaFt</h2>
      <p class="top-content mt-5">
        ShaFtへようこそ!<br>
        ここではグループで計画を立てたり、<br>
        「やること」「やりたいこと」を<br>
        共有しましょう!
      </p>
    </div>
  </div>
</div>
<div class="btn-wrapper col-6 mx-auto">
  <div class="row">
    <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-warning btn-sm btn-block mb-3 sign_in", method: :post %>
  </div>

  <div class="row">
    <%= link_to "ユーザー ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3" %>
  </div>
  
  <div class="row">
    <%= link_to "新規投稿", new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>
  </div>
</div>