<h1 class="mb-4 text-center">管理者ホーム</h1>

<nav class="mb-4 d-flex flex-column align-items-center row-gap-3">
  <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-primary btn-lg w-50 my-3" %>
  <%= link_to "投稿一覧", admin_posts_path, class: "btn btn-success btn-lg w-50 my-3" %>
  <%= link_to "コメント一覧", admin_comments_path, class: "btn btn-warning btn-lg w-50 my-3"%>
</nav>