<h2>ユーザー一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>状態</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.is_active? ? "活動中" : "退会済" %></td>
        <td>
          <% if user.is_active? %>
            <%= link_to "退会", withdraw_admin_user_path(user), method: :patch, class:"btn btn-danger", data: { confirm: "本当に退会させますか？" } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>